.best-tit,
.issue-tit {
  font-size: 18px;
}

#slide {
  .slide-tit {
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  #slide {
    height: 1080px;
    .auto-scroll-wrap {
      display: flex;
    }
  }
}

.auto-scroll-wrap {
  width: 100%;
  height: 338px;
  display: flex;
  align-items: center;
  .splide {
    max-width: 360px;
    margin: 0 auto;
    position: relative;
  }
  .splide__track {
    overflow: visible;
  }
  .splide__slide img {
    height: 85px;
  }
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #cccccc00;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #00000000;
  height: 1.2em;
  width: 1.2em;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
}

#main {
  ul {
    a {
      img {
        width: 100%;
        display: block;
        height: 272px;
        object-fit: cover;
      }

      display: block;
    }

    li {
      position: relative;
    }
  }
}

@media screen and (min-width: 1280px) {
  .section {
    height: 1080px;

    a {
      width: 50%;
      height: 540px;
      display: block;
      .bnrimg {
        width: 100%;
        height: 540px;
        display: block;
        object-fit: cover;
      }
    }
    .ul {
      display: flex;
      flex-wrap: wrap;
    }
    // .bnr1 {
    //   width: 50%;
    //   height: 540px;
    // }
  }
}

.best {
  margin: 40px 0 70px 20px;
  img {
    width: 180px;
    height: 243.81px;
  }
  // .swiper-wrapper {
  //   margin-bottom: 20px;
  // }
  .swiper-slide {
    height: 340px;
    font-family: $font-scondary;
  }
  p {
    // padding-top: 5px;
    font-size: 12px;
  }
}

.vm {
  font-family: $font-Defult;
  height: 41px;
  margin-top: 26px;
  z-index: 2000;
  img {
    width: 100%;
    height: 10px;
    display: block;
  }
}

.issue {
  .swiper {
    width: 100%;
    height: 250px;
    margin: 10px 0;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    --swiper-theme-color: #24ff00;
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 5px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 5px)
    );
  }
}

.store {
  margin: 70px 0 95.56px 0;
  a {
    display: block;
    img {
      width: 100%;
      height: 202.44px;
      display: block;
    }
  }
}
