// slide mb
#slide {
  height: 338px;
  overflow: hidden;
  .slide-tit {
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
  }
}

.auto-scroll-wrap {
  width: 100%;
  height: 273px;
  display: flex;
  align-items: center;
  .splide {
    max-width: 360px;
    margin: 0 auto;
    position: relative;
  }
  .splide__track {
    overflow: visible;
  }
  .splide__slide img {
    height: 85px;
  }
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #cccccc00;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #00000000;
  height: 1.2em;
  width: 1.2em;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
}

// slide pc
@media screen and (min-width: 1280px) {
  #slide {
    position: relative;
    height: 1080px;
    display: flex;
    align-items: center;
    .auto-scroll-wrap {
      display: flex;
    }

    .slide-tit {
      font-size: 25px;
      position: absolute;
      bottom: 200px;
      left: 50%;
      transform: translateX(-50%);
    }

    .auto-scroll-wrap {
      .splide__slide img {
        height: 150px;
      }
    }
  }
}

// section mb
.section {
  ul {
    p {
      display: none;
    }

    a {
      img {
        width: 100%;
        display: block;
        height: 272px;
        object-fit: cover;
      }

      display: block;
    }

    li {
      position: relative;
    }
  }
}

// section pc
@media screen and (min-width: 1280px) {
  .section {
    height: 1080px;

    .depth1 {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;

      li {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        position: relative;

        a {
          position: relative;
          display: block;
          height: 100%;
          color: $primary;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .txt1 {
          font-size: 80px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $secondary;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          visibility: hidden;
        }
      }
    }

    .depth1 li:hover .txt1 {
      visibility: visible;
      max-height: 540px;
    }
  }
}

// bestseller mb
.best-pc {
  display: none;
}

.best-mb {
  margin: 40px 0 70px 20px;
  img {
    width: 180px;
    height: 243.81px;
  }

  .swiper-slide {
    padding-top: 10px;
    height: 330px;
    font-family: $font-scondary;
  }
  p {
    font-size: 12px;
  }

  .icon {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heart {
      height: 15.3px;
      width: 18px;
    }
  }
}

.best-tit,
.issue-tit {
  font-size: 18px;
}

.vm {
  font-size: 14px;
  font-family: $font-Defult;
  height: 41px;
  a {
    display: block;
  }

  img {
    width: 100%;
    height: 10px;
  }
}

// bestseller pc
@media screen and (min-width: 1280px) {
  .best-mb {
    display: none;
  }
  .best-pc {
    padding-top: 100px;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    section {
      display: flex;
      margin: 50px 180px;
      img {
        width: 400px;
        height: 500px;
        object-fit: cover;
      }
      p {
        font-family: "MaziusDisplayi";
        font-size: 70px;
        -webkit-text-stroke: 1px $uniqe;
        padding: 350px 50px 0 50px;
      }
    }
    .fade-left {
      justify-content: flex-end;
    }
  }
}

// brandissue-mb
.brandissue-pc {
  display: none;
}
.brandissue-mb {
  display: flex;
  flex-direction: column;
  .issue-tit {
    padding-left: 20px;
  }
  a {
    img {
      width: 100%;
    }
    p {
      font-family: "MaziusDisplayR";
      color: $primary;
      text-align: center;
      padding-top: 20px;
    }
  }

  .vm {
    margin-left: 20px;
    font-size: 14px;
    a {
      display: block;
    }
  }

  .swiper {
    background-color: $secondary;
    width: 100%;
    margin: 10px 0 20px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination {
    position: static;
    margin: 10px;
  }

  .swiper-pagination-bullet {
    background-color: $uniqe;
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 5px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 5px)
    );
  }
}

// brandissue pc
@media screen and (min-width: 1280px) {
  .brandissue-mb {
    display: none;
  }

  .brandissue-pc {
    max-width: 1920px;
    width: 100%;
    display: block;
    height: 587.5vh;
    .section {
      height: 1080px;
      max-width: 1920px;
      width: 100%;
    }

    .horizontal-scroll {
      max-width: 1920px;
      width: 100%;
      height: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      overflow-x: hidden;
    }

    .horizontal-panel {
      max-width: 1920px;
      width: 100%;
      color: $uniqe;
      text-align: center;
      background-color: #000;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: center;
      height: 1080px;
      overflow: hidden;
      position: relative;

      .issue-tit {
        text-align: right;
        font-size: 40px;
        position: absolute;
        left: 60%;
        top: 35%;
        margin-right: 25px;

        p {
          text-align: right;
          color: $txtsecond;
          font-family: $font-prelight;
          font-size: 20px;
          line-height: 1.5;
        }
      }

      img {
        margin-left: 0;
        width: 50%;
        height: 500px;
        object-fit: cover;
      }
    }
  }
}

// store mb
.store-pc {
  display: none;
}
.store-mb {
  margin-top: 50px;
  .storetit {
    font-size: 18px;
    padding: 15px 20px;
  }
  .store-info {
    font-size: 15px;
    text-align: center;
    padding: 20px 0 70px;
  }

  img {
    display: block;
    height: 250px;
    max-width: 1280px;
    width: 100%;
    object-fit: cover;
  }
}

// store pc
@media screen and (min-width: 1280px) {
  .store-mb {
    display: none;
  }
  .store-pc {
    display: block;
    background-color: #f3f3f3;
    text-align: center;
    margin: 0 auto;
    .image-area__image {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .img {
        display: block;
        margin: 0 auto;
        height: 900px;
        width: 100%;
      }
    }

    .storetit1 {
      font-size: 50px;
      padding-top: 100px;
    }
    .storetit1-1 {
      font-size: 28px;
      font-family: $font-scondary;
      padding-top: 50px;
    }

    .storetit2 {
      font-family: $font-scondary;
      padding: 80px 50px 150px 50px;
      font-size: 25px;
      text-align: center;
    }
  }
}

// ft-txt mb
.section2 {
  display: none;
}

// ft-txt pc
@media screen and (min-width: 1280px) {
  .section2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100vh;

    h1 {
      font-size: 50px;
      text-transform: uppercase;
      margin: 0;
      flex-shrink: 0;
    }
  }

  .marquee,
  .marquee-2 {
    overflow: hidden;
  }

  .marquee-2 {
    min-height: 300vh;
  }

  .marquee-track,
  .marquee-track-2 {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .r {
    h1 {
      color: #00000000;
      -webkit-text-stroke: 1px $txtDefult;
    }
  }
}
