.auto-scroll-wrap {
  margin-top: 50px;
  .splide {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  .splide__track {
    overflow: visible;
  }
  .splide__slide img {
    width: 100%;
    height: auto;
  }
}

.slide-intro {
  .swiper-slide {
    height: 338px;
  }
}

.swiper-slide {
  height: 280px;
}

#main {
  .depth1 {
    a {
      img {
        width: 100%;
        display: block;
        height: 272px;
        object-fit: cover;
      }

      display: block;
    }

    li {
      position: relative;
    }
  }
}

.depth1 {
  li {
    &:hover {
      .depth2 {
        width: 100%;
        visibility: visible;
        max-height: 272px;
      }
    }
  }
}

#main .depth2 {
  background-color: $secondary;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: 0;
  // visibility: hidden;
}

.vm {
  height: 41px;
  img {
    width: 100%;
    height: 10px;
    display: block;
  }
}

.issue {
  position: relative;
  overflow: hidden;
  height: 250px;

  ul {
    display: flex;
    flex-direction: column;
    height: 250px;

    a {
      display: block;
      img {
        // width: 100%;
        height: 250px;
        display: block;
        object-fit: cover;
      }
    }
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    animation: ani-slide 10s linear infinite alternate;
  }
}

@keyframes ani-slide {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  27% {
    top: -250px;
  }
  52% {
    top: -250px;
  }
  54% {
    top: -500px;
  }
  77% {
    top: -500px;
  }
  79% {
    top: -750px;
  }
  98% {
    top: -750px;
  }
  100% {
    top: 0;
  }
}

.store {
  a {
    display: block;
    img {
      width: 100%;
      height: 202.44px;
      display: block;
    }
  }
}
