@import "variables", "mixins", "fonts", "reset";

body::before {
  content: "";
  background: url(../../images/comm/모바일_메인페이지.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
body {
  position: relative;
}

// layout
.wrap {
  min-height: calc(305vh - $ftH);
  display: flex;
  flex-direction: column;
  // 모바일버전 크기
  max-width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 1280) {
  .wrap {
    max-width: none;
  }
}

#footer {
  background-color: $secondary;
  color: $txtsecond;
  height: $ftH;
  bottom: 0;
  position: relative;

  img {
    width: 328px;
    height: 10px;
    display: block;
  }

  .depth1 {
    margin-top: 40px;
    li {
      position: relative;
      padding: 10px 0 0 20px;
      a {
        display: flex;
        flex-direction: column;
        color: $txtsecond;
      }
    }
  }

  .depth2 {
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    a {
      display: block;
      color: $txtsecond;
    }
  }

  .gnb-bottom {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    .contect {
      font-size: 12px;
      padding-bottom: 10px;
    }
    .copyright {
      font-size: 8px;
    }
  }
}

// header
#header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.gnb-wrap {
  display: flex;
  align-items: center;

  .input-burger {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
    visibility: hidden;

    // check o
    &:checked {
      & + .label-burger {
        display: flex;
        .bar {
          &:nth-child(1) {
            transform: translateY(3px) rotate(45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            transform: translateY(-3px) rotate(-45deg);
          }
          background-color: $txtsecond;
        }
      }

      & ~ #gnb {
        display: flex;
        left: 0;
      }
    }
  }

  // check x
  .label-burger {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
    justify-content: center;
    z-index: 1100;

    .bar {
      background-color: $gray-900;
      height: 2px;
      width: 20px;
      border-radius: 2px;
      display: block;
      transition: all 0.3s;
    }
  }
}

#gnb {
  background-color: $secondary;
  width: 100%;
  height: 700px;
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 1000;
  display: flex;
  // justify-content: center;
  padding-top: 50px;
  transition: all 0.3s;

  .logo2 {
    position: absolute;
    bottom: 20.32px;
    display: flex;
  }
}

@import "main", "sub1";
