@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(./woff2/Pretendard-Black.woff2) format("woff2"), url(./woff/Pretendard-Black.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(./woff2/Pretendard-ExtraBold.woff2) format("woff2"), url(./woff/Pretendard-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(./woff2/Pretendard-Bold.woff2) format("woff2"), url(./woff/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(./woff2/Pretendard-SemiBold.woff2) format("woff2"), url(./woff/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(./woff2/Pretendard-Medium.woff2) format("woff2"), url(./woff/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "PretendardR";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(./woff2/Pretendard-Regular.woff2) format("woff2"), url(./woff/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendardl";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(./woff2/Pretendard-Light.woff2) format("woff2"), url(./woff/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(./woff2/Pretendard-ExtraLight.woff2) format("woff2"), url(./woff/Pretendard-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(./woff2/Pretendard-Thin.woff2) format("woff2"), url(./woff/Pretendard-Thin.woff) format("woff");
}
@font-face {
  font-family: "MaziusDisplayR";
  font-weight: 400;
  src: url("../fonts/MaziusDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "MaziusDisplay";
  font-weight: 600;
  src: url("../fonts/MaziusDisplay-ExtraItalicBold.woff2") format("woff2");
}
@font-face {
  font-family: "MaziusDisplayi";
  font-weight: 500;
  src: url("../fonts/MaziusDisplay-Extraitalic.woff2") format("woff2");
}
@font-face {
  font-family: "MaziusDisplay";
  font-weight: 700;
  src: url("../fonts/MaziusDisplay-Bold.woff2") format("woff2");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #000;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

body {
  position: relative;
  font-family: "MaziusDisplayR";
}

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: none;
  }
}
#footer-mb {
  height: auto;
  font-family: "PretendardR";
  background-color: #000;
  color: #fff;
  bottom: 0;
  position: relative;
}
#footer-mb .ft-btn {
  padding: 30px 20px 0;
}
#footer-mb .ft-btn .button img {
  width: 100%;
  height: 10px;
  display: block;
  transition: transform 0.3s;
}
#footer-mb .ft-btn .button a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
#footer-mb .ft-btn .button ul {
  display: none;
  padding: 20px 30px;
}
#footer-mb .ft-btn .button .ft-tit {
  font-size: 20px;
  padding-top: 5px;
}
#footer-mb .gnb-bottom {
  text-align: center;
  padding: 180px 0 20px 0;
}
#footer-mb .gnb-bottom .contect {
  font-size: 12px;
  padding-bottom: 10px;
}
#footer-mb .gnb-bottom .copyright {
  font-size: 8px;
}

#footer-pc {
  display: none;
}

@media screen and (min-width: 1280px) {
  #footer-mb {
    display: none;
  }
  #footer-pc {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: "PretendardR";
    display: flex;
    height: 1000px;
    position: relative;
    flex-direction: column;
  }
  #footer-pc .memu {
    display: flex;
    justify-content: center;
    padding: 100px 0 130px;
  }
  #footer-pc .memu .memuli {
    width: 33.333%;
    font-size: 80px;
  }
  #footer-pc .memu .memuli .depth2 {
    font-size: 35px;
    padding: 85px 0 35px;
  }
  #footer-pc .memu .memuli .depth2 a {
    transition: color 0.3s ease;
  }
  #footer-pc .memu .memuli .depth2 a:hover {
    color: #24ff00;
  }
  #footer-pc .memu .memuli .tit {
    border-bottom: 1px solid #fff;
  }
  #footer-pc .memu a {
    color: #fff;
  }
  #footer-pc .gnb-bottom .contect {
    padding-bottom: 23px;
    font-size: 25px;
  }
  #footer-pc .gnb-bottom .copyright {
    font-size: 12px;
  }
}
#header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

@media screen and (min-width: 1280px) {
  #header {
    max-width: none;
    display: flex;
    justify-content: center;
  }
  #header .gnb-wrap {
    display: none;
  }
}
.gnb-wrap {
  display: flex;
  align-items: center;
}
.gnb-wrap .input-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
}
.gnb-wrap .input-burger:checked + .label-burger {
  display: flex;
}
.gnb-wrap .input-burger:checked + .label-burger .bar {
  background-color: #fff;
}
.gnb-wrap .input-burger:checked + .label-burger .bar:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
}
.gnb-wrap .input-burger:checked + .label-burger .bar:nth-child(2) {
  display: none;
}
.gnb-wrap .input-burger:checked + .label-burger .bar:nth-child(3) {
  transform: translateY(-3px) rotate(-45deg);
}
.gnb-wrap .input-burger:checked ~ #gnb {
  display: flex;
  left: 0;
}
.gnb-wrap .label-burger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  justify-content: center;
  z-index: 1100;
}
.gnb-wrap .label-burger .bar {
  background-color: #212121;
  height: 2px;
  width: 20px;
  border-radius: 2px;
  display: block;
  transition: all 0.3s;
}

#gnb {
  background-color: #000;
  width: 100%;
  height: 700px;
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 1000;
  display: flex;
  padding-top: 50px;
  transition: all 0.3s;
}
#gnb .logo2 {
  position: absolute;
  bottom: 20.32px;
  display: flex;
}

#slide {
  height: 338px;
  overflow: hidden;
}
#slide .slide-tit {
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}

.auto-scroll-wrap {
  width: 100%;
  height: 273px;
  display: flex;
  align-items: center;
}
.auto-scroll-wrap .splide {
  max-width: 360px;
  margin: 0 auto;
  position: relative;
}
.auto-scroll-wrap .splide__track {
  overflow: visible;
}
.auto-scroll-wrap .splide__slide img {
  height: 85px;
}

.splide__arrow {
  align-items: center;
  background: rgba(204, 204, 204, 0);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: rgba(0, 0, 0, 0);
  height: 1.2em;
  width: 1.2em;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
}

@media screen and (min-width: 1280px) {
  #slide {
    position: relative;
    height: 1080px;
    display: flex;
    align-items: center;
  }
  #slide .auto-scroll-wrap {
    display: flex;
  }
  #slide .slide-tit {
    font-size: 25px;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
  #slide .auto-scroll-wrap .splide__slide img {
    height: 150px;
  }
}
.section ul p {
  display: none;
}
.section ul a {
  display: block;
}
.section ul a img {
  width: 100%;
  display: block;
  height: 272px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section ul li {
  position: relative;
}

@media screen and (min-width: 1280px) {
  .section {
    height: 1080px;
  }
  .section .depth1 {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .section .depth1 li {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .section .depth1 li a {
    position: relative;
    display: block;
    height: 100%;
    color: #fff;
  }
  .section .depth1 li a img {
    width: 100%;
    height: 100%;
  }
  .section .depth1 li .txt1 {
    font-size: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  .section .depth1 li:hover .txt1 {
    visibility: visible;
    max-height: 540px;
  }
}
.best-pc {
  display: none;
}

.best-mb {
  margin: 40px 0 70px 20px;
}
.best-mb img {
  width: 180px;
  height: 243.81px;
}
.best-mb .swiper-slide {
  padding-top: 10px;
  height: 330px;
  font-family: "PretendardR";
}
.best-mb p {
  font-size: 12px;
}
.best-mb .icon {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-mb .icon .heart {
  height: 15.3px;
  width: 18px;
}

.best-tit,
.issue-tit {
  font-size: 18px;
}

.vm {
  font-size: 14px;
  font-family: "MaziusDisplayR";
  height: 41px;
}
.vm a {
  display: block;
}
.vm img {
  width: 100%;
  height: 10px;
}

@media screen and (min-width: 1280px) {
  .best-mb {
    display: none;
  }
  .best-pc {
    padding-top: 100px;
    background-color: #000;
    display: flex;
    flex-direction: column;
  }
  .best-pc section {
    display: flex;
    margin: 50px 180px;
  }
  .best-pc section img {
    width: 400px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .best-pc section p {
    font-family: "MaziusDisplayi";
    font-size: 70px;
    -webkit-text-stroke: 1px #24ff00;
    padding: 350px 50px 0 50px;
  }
  .best-pc .fade-left {
    justify-content: flex-end;
  }
}
.brandissue-pc {
  display: none;
}

.brandissue-mb {
  display: flex;
  flex-direction: column;
}
.brandissue-mb .issue-tit {
  padding-left: 20px;
}
.brandissue-mb a img {
  width: 100%;
}
.brandissue-mb a p {
  font-family: "MaziusDisplayR";
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
.brandissue-mb .vm {
  margin-left: 20px;
  font-size: 14px;
}
.brandissue-mb .vm a {
  display: block;
}
.brandissue-mb .swiper {
  background-color: #000;
  width: 100%;
  margin: 10px 0 20px;
}
.brandissue-mb .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandissue-mb .swiper-pagination {
  position: static;
  margin: 10px;
}
.brandissue-mb .swiper-pagination-bullet {
  background-color: #24ff00;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 5px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px));
}

@media screen and (min-width: 1280px) {
  .brandissue-mb {
    display: none;
  }
  .brandissue-pc {
    max-width: 1920px;
    width: 100%;
    display: block;
    height: 587.5vh;
  }
  .brandissue-pc .section {
    height: 1080px;
    max-width: 1920px;
    width: 100%;
  }
  .brandissue-pc .horizontal-scroll {
    max-width: 1920px;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: hidden;
  }
  .brandissue-pc .horizontal-panel {
    max-width: 1920px;
    width: 100%;
    color: #24ff00;
    text-align: center;
    background-color: #000;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    height: 1080px;
    overflow: hidden;
    position: relative;
  }
  .brandissue-pc .horizontal-panel .issue-tit {
    text-align: right;
    font-size: 40px;
    position: absolute;
    left: 60%;
    top: 35%;
    margin-right: 25px;
  }
  .brandissue-pc .horizontal-panel .issue-tit p {
    text-align: right;
    color: #fff;
    font-family: "Pretendardl";
    font-size: 20px;
    line-height: 1.5;
  }
  .brandissue-pc .horizontal-panel img {
    margin-left: 0;
    width: 50%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.store-pc {
  display: none;
}

.store-mb {
  margin-top: 50px;
}
.store-mb .storetit {
  font-size: 18px;
  padding: 15px 20px;
}
.store-mb .store-info {
  font-size: 15px;
  text-align: center;
  padding: 20px 0 70px;
}
.store-mb img {
  display: block;
  height: 250px;
  max-width: 1280px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .store-mb {
    display: none;
  }
  .store-pc {
    display: block;
    background-color: #f3f3f3;
    text-align: center;
    margin: 0 auto;
  }
  .store-pc .image-area__image {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .store-pc .image-area__image .img {
    display: block;
    margin: 0 auto;
    height: 900px;
    width: 100%;
  }
  .store-pc .storetit1 {
    font-size: 50px;
    padding-top: 100px;
  }
  .store-pc .storetit1-1 {
    font-size: 28px;
    font-family: "PretendardR";
    padding-top: 50px;
  }
  .store-pc .storetit2 {
    font-family: "PretendardR";
    padding: 80px 50px 150px 0;
    font-size: 25px;
    text-align: center;
  }
}
.section2 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .section2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
  }
  .section2 h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
    flex-shrink: 0;
  }
  .marquee,
  .marquee-2 {
    overflow: hidden;
  }
  .marquee-2 {
    min-height: 300vh;
  }
  .marquee-track,
  .marquee-track-2 {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .r h1 {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #000;
  }
}/*# sourceMappingURL=comm.css.map */